* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0px;
}

.label-input {
    width: 200px;
    color: rgba(0, 0, 0, 1);
    left: 25px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v811_553 {
    background: rgba(37, 43, 66, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.card{
    background: rgba(69, 77, 109, 1) !important;
}

.button_cadastrar {
    background: linear-gradient(rgba(214, 19, 136, 1), rgba(0, 70, 136, 1));
    padding: 15px 25px;
    opacity: 1;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

